<div class="container-lg">
    <div class="row">
        <div class="col-lg-6">
            <p class="text d-flex justify-content-center">{{.Dto.Settings.Title}}</p>
        </div>

        <div class="col-lg-6">
            <p class="text d-flex justify-content-center">
                <a href="{{.Dto.Settings.Discord}}" target="_blank">
                    <img class="disc" src="003-discord copy.png" alt="Discord Icon">
                    &nbsp;
                    Join us on discord
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="banner">
                <img class="banner-img" src="{{.Dto.Settings.Banner}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="text">Introduction:</p>
            <p class="text intro">
                {{.Dto.Settings.Intro}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <p class="text">Meet the team:</p>
            {{range .Dto.Staff}}
            <p class="text editor">
                <img class="avatar" src="{{.Avatar}}">
                &nbsp;
                {{.Nick}}
                <span class="roles">
                    {{range .Roles}}
                    {{.}}<br>
                    {{end}}
                </span>
            </p>
            {{end}}
        </div>

        <div class="col-lg-6">
            <p class="text">Recent works: {{if .Auth.Username}}<a class="btn btn-secondary py-0 rounded-0" role="button" href="/works/add">add</a>{{end}}</p>
            <div id="translations">
                {{range .Dto.Translations}}
                <div class="d-flex align-items-start mb-2 translation ">
                    <img src="https://t4.nhentai.net/{{.Banner}}" class="translation-icon me-2" style="width: 128px;"/>

                    <p class="text mb-0 translation-text">
                        <a href="https://nhentai.net/g/{{.NhId}}/" target="_blank">
                            {{.Title}}
                            <br>
                            <span class="text-muted">{{.From}}</span>
                        </a>
                        <br>

                        <a href="https://nhentai.net/g/{{.NhId}}/" target="_blank">
                            <img src="https://nhentai.net/favicon.png" alt="nhentai.net" class="favicon">
                            nhentai
                            <span id="{{.NhId}}"></span>
                            <span class="likes">🤍 {{.NhLikes}}</span>
                        </a>

                        <br/>
                        <a href="https://e-hentai.org/g/{{.EhId}}/" target="_blank">
                            <img src="https://e-hentai.org/favicon.ico" alt="e-hentai.org" class="favicon">
                            e-hentai
                        </a>

                        <br/>
                        <span class="date">{{.Date.Format "2006-01-02 15:04:05"}}</span>
                    </p>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
