<div class="border-bottom px-3 py-2">
    <h4 class="m-0">Edit Translation</h4>
</div>

<div class="border-bottom p-3 d-flex">

    <img
        src="https://t4.nhentai.net/{{.Dto.Translation.Banner}}"
        class="me-3"
        style="width:80px;height:110px;object-fit:cover;">

    <div>
        <div class="fw-bold">
            {{.Dto.Translation.Title}}
        </div>

        <div class="text-muted small">
            {{.Dto.Translation.From}}
        </div>

        <div class="mt-2">
            🤍 {{.Dto.Translation.NhLikes}}
        </div>
    </div>

</div>

<form method="post">

    <div class="border-bottom p-3">
        <label class="form-label fw-bold">Source</label>
        <input
            type="text"
            name="form[from]"
            value="{{.Dto.Translation.From}}"
            class="form-control rounded-0">
    </div>


    <div class="border-bottom p-3">
        <label class="form-label fw-bold">Title</label>
        <input
            type="text"
            name="form[title]"
            value="{{.Dto.Translation.Title}}"
            class="form-control rounded-0">
    </div>


    <div class="row g-0 border-bottom">

        <div class="col-md-6 p-3 border-end">
            <label class="form-label fw-bold">NH ID</label>
            <input
                type="text"
                name="form[nhid]"
                value="{{.Dto.Translation.NhId}}"
                class="form-control rounded-0">
        </div>


        <div class="col-md-6 p-3">
            <label class="form-label fw-bold">EH ID</label>
            <input
                type="text"
                name="form[ehid]"
                value="{{.Dto.Translation.EhId}}"
                class="form-control rounded-0">
        </div>

    </div>


    <div class="border-bottom p-3">
        <label class="form-label fw-bold">Banner</label>
        <input
            type="text"
            name="form[banner]"
            value="{{.Dto.Translation.Banner}}"
            class="form-control rounded-0">
    </div>


    <div class="border-bottom p-3">

        <label class="form-label fw-bold mb-3">
            Staff
        </label>

        <table class="table table-sm align-middle mb-0">

            <thead>

                <tr>
                    <th style="width:220px;">Member</th>
                    <th>Roles</th>
                </tr>

            </thead>

            <tbody>

                {{range .Dto.Staff}}

                <tr>

                    <td>

                        <div class="form-check">
                            <input class="btn-check" type="checkbox" name="form[staff]" value="{{.Nick}}" id="staff{{.Id.Hex}}" {{if index $.Dto.Selected .Nick}}checked{{end}}>
                            <label class="btn btn-outline-secondary rounded-0 py-0 fw-bold" for="staff{{.Id.Hex}}">
                                {{.Nick}}
                            </label>
                        </div>

                    </td>

                    <td>

                        <div class="d-flex flex-wrap gap-1">

                            {{$staff := .}}
                            {{range $.Dto.Roles}}
                            <input class="btn-check" type="checkbox" autocomplete="off" name="form[roles][{{$staff.Nick}}]" id="staff{{$staff.Id.Hex}}role{{.Id.Hex}}" value="{{.Id.Hex}}" {{if index $.Dto.Selected (printf "%s%s" $staff.Nick .Id.Hex)}}checked{{end}}>
                            <label class="btn btn-outline-secondary rounded-0 py-0" for="staff{{$staff.Id.Hex}}role{{.Id.Hex}}">
                                {{.Name}}
                            </label>
                            {{end}}

                        </div>

                    </td>

                </tr>

                {{end}}

            </tbody>

        </table>

    </div>


    <div class="border-bottom p-3">

        <label class="form-label fw-bold">
            Date
        </label>

        <input
            type="datetime-local"
            name="form[date]"
            value="{{.Dto.Translation.Date.Format "2006-01-02T15:04"}}"
            class="form-control rounded-0">

    </div>


    <div class="p-3 d-flex justify-content-between">

        <a 
            href="/works"
            class="btn btn-secondary rounded-0">
            Cancel
        </a>


        <button
            type="submit"
            class="btn btn-primary rounded-0">
            Save
        </button>

    </div>

</form>
